{{#each this}}
<li class="countries-list">
    <div class="flags-picture">
        <img src="{{flags.svg}}" alt="" width="70" height="50">
    </div>
    <h2 class="countries-list-title">{{name.official}}</h2>
    
</li>
{{/each}}